* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    background-color: rgb(237, 237, 237);
}

.body{
    background-color: rgb(237, 237, 237);;
}

.titolo_parag {
    max-width: 600px;
    margin: auto;
    margin-top: 3rem;
}

.titolo {
    text-align: center;
    margin-bottom: 1rem;

}

.paragrafo {
    text-align: center;
    line-height: 2rem;
    margin-bottom: 2rem;
    
}
.card-text{
    display: flex  !important;
}
.container_cards {
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: auto;
    
    
}
.card{
    width: calc((1000px - 4rem) / 3);
}